body{
	font-size: 16px;
}
*{
	box-sizing: border-box;
}
h1{
	text-align: center;
	margin-bottom: 30px;
	font-size: 175%;
}
.maindiv{
	background-color:#D8D8D8;
	height:230px;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	float:left; 
	position: relative;
	overflow: auto;
}
.maindiv div{
	width: 90px;
	height: 28px;
	border: 1px solid black;
	text-align: center;
	position: absolute;
	right:0px;
	top:0px;
}
#a{
	background-color: #ebb134;
}
#b{
	background-color: #521470;
	color: white;
}
#c{
	background-color: #57ebd0;
}
.title{
	font-style: bold;
	font-size: 125%;
}
.para{
	margin-top: 30px;
}
@media (min-width: 992px){
	.col-lg-4{
		width:29%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-12{
		width:93%;
	}
	.col-md-6{
		width:44%;
}
@media (max-width: 767px){
	.col-sm-12{
		width:100%;
	}
	body{
		font-size: 16px